[Unit]
Description=Frontend for Jina app search

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/alexcg/meme-search/frontend
ExecStart=/bin/bash -c 'cd /home/ubuntu/alexcg/app-search/frontend && source env/bin/activate && streamlit run app_store_frontend.py'
Restart=always

[Install]
WantedBy=multi-user.target
